fastapi
uvicorn
streamlit
langchain
sentence-transformers
faiss-cpu
pymupdf
pdfplumber
pytesseract
easyocr
pillow
python-docx
pandas
numpy
requests
groq
tavily-python
python-multipart
reportlab
python-dotenv
langchain-text-splitters